node_modules
npm-debug.log
yarn-error.log
pnpm-error.log
.git
.gitignore
.DS_Store
.env
.env.local
.env.*.local
dist
build
.expo
.next
.venv
*.log
*.swp
*.swo
*~
.idea
.vscode
*.sublime-project
*.sublime-workspace
.gradle
build/
android/build/
.android/
.ios/
